#addForm label,#modifyForm label{ font-weight: normal; }
.roleBox>label{width:100px; float:left;}
.roles{ width: 400px; margin-left: 100px;}
.roleBox{float:left;margin-left:15px !important;}         
.form-group input[type="checkbox"]{width:auto;height:auto;}
.roleBox label {
	width: 100px;
    text-align: right;
    margin-bottom: 0px; 
    font-weight: normal; }
.roles label {
	width: 196px;
    text-align: left;
    margin-bottom: 0px;     
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
   }
.form-horizontal .has-feedback .form-control-feedback {
      /*  right: 80px; */
       right:-12px;
}
/* #isLeader{margin-top:10px;} */
#addBox,#modifyBox{
	 width: 400px;
    margin: 0 auto;
}   
.form-group select {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    width: 220px;
    padding: 0px;
}

.departmentBox .col-sm-6 .icon-up-micro,.departmentBox .col-sm-6 .icon-down-micro{    
	position: absolute;
    right: -12px;
    top: 5px;}
.departmentBox{position:relative;}
.departmentList{
	background:#ffffff;
    display:none;
	width: 220px;
    height: 240px;	
    position: absolute;
    z-index: 99;
    top: 30px;
    left: 140px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.rolediv{
	  overflow: hidden; 
      text-overflow:ellipsis;  
      white-space: nowrap; 
}
.simSelect-text .icon-up-micro{font-size:15px;transform:rotate(90deg);
-ms-transform:rotate(90deg); 	/* IE 9 */
-moz-transform:rotate(90deg); 	/* Firefox */
-webkit-transform:rotate(90deg); /* Safari ºÍ Chrome */
-o-transform:rotate(90deg); 	/* Opera */}
.departmentList dl{margin-bottom:0px;}

 .simSelect-title{cursor:pointer;}
	.simSelect-title input{margin:0;border-radius:2px;}
	.simSelect-title span{width:15px;height:26px;border:#707070 1px solid; margin-top: 1px;
	 background: -webkit-linear-gradient(top , #ffffff, #d2d2d2);
	 background: -moz-linear-gradient(center top , #ffffff, #d2d2d2);
	 background: -ms-linear-gradient(top , #ffffff, #d2d2d2);
	 float:left;border-radius:0 2px 2px 0;margin-left:-18px;}
	.simSelect-title span:hover{border:#3c7fb1 1px solid; 
	background: -webkit-linear-gradient(top , #fafdfe, #a7d9f5);
	background: -moz-linear-gradient(center top , #fafdfe, #a7d9f5);
	background: -ms-linear-gradient(top , #fafdfe, #a7d9f5);}
	.simSelect-title i{ 
	width:0; 
    height:0; 
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #464444;
    position:relative;
    top:10px;
    left:3px;
    }
	.simSelect-cen{position:absolute; right: 267px;
    top: 29px;width:209px;  border:#ccc 1px solid; height:220px; background:#fff; display:none; overflow:hidden; z-index: 99999999; }
	.simSelect-text{ width:230px; height:180px; overflow:auto; }
	.simSelect-foot{ text-align:center; }
	.simSelect-foot .btn{ padding:5px 0;
	 background: -moz-linear-gradient(center top , #0183e1, #629fe2);
	 background: -webkit-linear-gradient(top , #0183e1, #629fe2);
	 background: -ms-linear-gradient(top , #0183e1, #629fe2); 
	 border: 1px solid #0183e1; border-radius: 5px; color: #fff; cursor: pointer; display: inline-block;
	  height:30px;  margin: 0 10px; line-height:26px; text-align:center; padding:0 24px;}
	.simSelect-text dl dd{ margin-left:25px;  }
	.simSelect-text dl dd span{     font-size: 12px;cursor:pointer; line-height: 180%; display:block; width:160px; *width:100px; }
	.simSelect-text dl dd i{ float:left; /* margin: 7px 3px 0; */ }
	.simSelect {padding-left:10px;}
	.red{color:red;}
	