@charset "utf-8";
/* CSS Document */
* { margin: 0;
	padding: 0;
	font-family: "Microsoft yahei";
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
	form, fieldset, legend, input, textarea, p, blockquote, th, td {
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
}
/*公共的类名*/
.clear:after {
	height: 0;
	content: "";
	clear: both;
	display: block;
	visibility: hidden;
	overflow: hidden;
}
a{ color: #ADADAD; }
.clear { zoom: 0; clear: both; }
.fl { float: left; }
.fr { float: right; }
img { border: 0; }
ul, li, ol { list-style: none; }
a:link, a:visited {
	color: #006699;
	text-decoration: none;
}
a:hover, a:active { color: #0066FF; }
body{
	margin:0px; 
	padding:0xp;
    font-family: 'Microsoft yahei' ,'Open Sans', sans-serif;
}
p {
    font-size: 14px;
    line-height:25px;
}
.white_bg{height:50px;width:100%;background:#fff;position:absolute; top:0px;}
 /*左侧菜单样式*/
.mrp_wrap{ width:100%; background:#f0f0f0 !important;}
#menuSideBar{
    overflow-x: hidden;
    overflow-y: auto;
    width: 201px;
}
.navbar-side{
   padding-left: 0px; width:241px; float:left; position: absolute;
}
#mainFrameTabs{
	margin-left:251px;
	position: relative;
	min-width:1030px;
} 
.navbar-side{position:relative; z-index: 99;}
#header{background:#044599;color:#ffffff; }
#logo{float:left;width:40px; height:50px;  background:#044599; }
#logo img{width:36px;margin:6px 2px;}
.header_left{float:left;width:200px; background:#044599;}
.header_left span{display:inline-block; text-indent:8px;height:50px; line-height:50px;font-size:15px; font-weight:700;}
.header_left i{ text-indent: 34px;}
#headPage{width:40px; height:400px; background:#044599;}
#headPage li{float:left; width:40px; height:40px; line-height:40px;cursor:pointer;}
.leftNav{position: absolute;top:50px;left: 40px;background: #dddddd !important;}
#headPage li i{font-size:16px; color:#ffffff; text-indent:7px;}
#headPage li.selected{background:#ffffff;}
#headPage li.selected i{color:#044599; }
.icon-globe{font-size:20px !important;}
.leftNav{border-right:1px solid #ecebeb; background:#F1F1F1;}

/*左侧菜单初始化*/
/* .leftNav li{height:40px;} */
.leftNav .nav-tabs li a {  line-height: 0; }
.leftNav .nav-header { line-height: 0; }
.leftNav .nav-tabs>li>a { border-radius:0;  }
.leftNav .nav>li>a { padding:0; }
.navbar { min-height: 40px; border:none;}
.leftNav .nav_head a{font-size:15px; }
.leftNav .nav_head a,.leftNav ul>li>.nav-header{display:inline-block; color:#ffffff; background:#0a5bc4; height:40px; line-height: 40px !important; width:200px;
padding-left: 6px;
cursor:pointer;
}
.leftNav .nav_head a{background:#ffffff !important; color:#000000 !important;font-weight:700;}
#main-nav .icon-down-micro,#main-nav .icon-up-micro{ position: absolute; right: 10px;}
.leftNav .nav_head a:hover{border:none;}
.leftNav a i{top: 2px;  margin-right: 4px;}
.nav-tabs>li>a:hover {border:none; }
.leftNav .nav-list{ background-color: rgba(0,0,0,.1);}
.leftNav .nav-list li{height:40px; }
.leftNav .nav-list li a{display:inline-block; height:40px; width:200px;line-height:40px; padding-left:20px;color:#000;}
.nav-stacked>li+li {margin-top: 1px;}
.nav-list li a i{font-size:12px;}
.nav-list a.active{ background-color: #eee;}
/*退出*/
#logoutBox{ position:absolute; bottom:10px; width:40px; height:40px;line-height:40px; }
#logoutBox a{ margin-left: 8px;}
#logoutBox i{color:#ffffff;}

/*中间内容样式*/
.content_wrap{background:#fff;/* margin-top: 10px; */    width: 100%;
    height: 100%;}
.bootstrap-table{/* height:800px; */padding: 10px;}
.bTabs .nav-tabs {
    margin-bottom: 0px;
}
.tabsNav .nav-tabs{}
.bTabs .nav-tabs>li {
    margin-top: 6px !important;
}
.bTabs .nav-tabs li.active a {
    background-color: #0a5bc4 !important;
    color: #fff;
    font-weight: bold;
}
.tabsNav button.navTabsCloseBtn{
	 line-height: 1.2 !important;
}
.tabsNav .active button.navTabsCloseBtn {
    color: #ffffff !important;
    line-height: 1.2 !important;
} 






/*login start*/
#login_body{  
background:url(../../img/login_bg.jpg)no-repeat;  
width:100%; 
min-width:1024px; 
height:100%;  
background-size:100% 100%;  
position:absolute;  
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../img/login_bg.jpg',sizingMethod='scale');  
}
.login-main{
	width:380px;
	height:466px;
	background-color:rgba(255,255,255,0.3);
	position:absolute; 
	top:50%;
	left:50%;
    margin-top: -300px;
    margin-left: -200px;
	border-radius:6px;
	border:1px solid #e2e4e4;
}
.login-logo{
	width:360px;
	margin:0 auto;
	border-bottom:2px solid #ffffff;
}
.login-logo h3{
	text-align:center;
	color:#ffffff;
	font-size:20px !important;
	line-height:60px;
}
.divleft{
	width:260px;
	margin:0 auto;
	height: 56px;
    line-height: 56px;
    border-bottom:1px solid #fff;
	}
.divleft input{
	text-indent:1em;
	height:40px;
	line-height:40px;
	background:none;
	width:230px;
	border:none;
	box-shadow:none;
	color:#ffffff;
}
.aDiv{
	border-bottom: none;
    width: 268px;
}
.aDiv a{
	color: #ffffff;
    height: 38px;
    line-height: 38px;
    display: inherit;
    font-weight: 900;
    font-size: 20px;

}
.aDiv a:hover{
	text-decoration: underline;
}

.aDiv p{
	font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}
.captchadiv{
	width:260px;
	margin:0 auto;
	height: 56px;
    line-height: 56px;
}
.captchal{
	float:left;
	width:160px;
}
.captchaR{
	float:right;
	width:90px;
}
.captchal input{
	width:130px;
}
.captchaR img{
	width:88px;
	height:55px;
}
.divleft i,.divleft span{color:#fff;}

.divleft input:focus { 
	text-indent:1em;
	background:none;  
	outline:none;  
	border:0px;
	box-shadow:none;
	
	 } 
::-webkit-input-placeholder{/*Webkit browsers*/
    color:#ffffff;
    font-size:14px;
}
:-moz-placeholder{/*Mozilla Firefox 4 to 8*/
   color:#ffffff;
   font-size:14px;
}
::moz-placeholder{/*Mozilla Firefox 19+*/
   color:#ffffff;
   font-size:14px;
}
:-ms-input-placeholder{/*Internet Explorer 10+*/
    color:#ffffff;
    font-size:14px;
}
.login-center{
	margin-top:20px;
}
 .login-center .logbtn{
	background-color: rgba(255,255,255,0.5);
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 8px;
    width: 270px;
    height: 46px;
    line-height: 46px;
    margin-left: 54px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.login-center .logbtn:hover{
	background-color:  rgba(12,112,176,0.3);
    border:rgba(12,112,176,0.3);
} 
.errorsdiv{border:none;}

/*login end*/




/* 查询条件 */
#queryCondition{
    min-height:50px;
    border-bottom:2px solid #e5e5e5;
	/* border-radius:5px; */
	margin-bottom:10px;
}
#queryCondition .emay-search{
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
#queryCondition .emay-search label{
    height:40px;
    width:106px;
    align:right;
}
#queryCondition .emay-search input{
    height:30px;
    width:200px;    
    border:none;
    border-bottom:1px solid #e5e5e5;
}
#queryCondition .emay-search input:focus{
    box-shadow:none;
    border:none;
    outline:none; 
    border-bottom:1px solid #e5e5e5;
}

#outerId_search_form{
    display: inline-block;
}

#paginalNumber{
    height:28px;
}
/* 查询条件end */

/* 跳转按钮 input筐样式 */

input.totalIpu{
    display:inline-block;
    height:28px;
    width:30px;
    margin: 0;
    vertical-align:bottom;
}

nav.text-right .pagination{
    display:inline;
}
nav.text-right div.totalDiv{
    display: inline-block;
}
nav.text-right div.totalDiv button{
    border:none;
}
#numberPages{
    border:none;
}



/* 页签左右按钮 start*/
/*右侧定位*/
.tabsNav {
    padding-left: 45px;
    padding-right: 45px;
    position: absolute;
    left: 0;
    right: 0;
    /* border-bottom: 1px solid #1F2837; */
    background-color:#fff;
    height: 50px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}
.bTabs div.tab-content{
    position:absolute;
    top:45px;
    right:0;
    left:0;	
}
/* 左右按钮*/

.tabsNav .glyphicon{
	position: absolute;
	display: inline-block;
	height:42px;
	width:45px;
	background-color:#fff;
	color: #ccc;
}
.tabsNav #leftPage{
	left:0;
	line-height:50px;
	text-align:center;
	display:none;
}
.tabsNav #rightPage{
	right: 210px;
	line-height:50px;
	text-align:center;
	display:none;

}
.tabsNav .navContent{
   overflow:hidden;
    margin-top: 6px;
}
.tabsNav .ui-sortable{
   white-space: nowrap;
   position: relative;
}

.tabsNav .ui-sortable>li{
	display: inline-block
}

/* 页签左右按钮 end*/

.search_wrap .form-group {
    margin-top: 20px;
    height:20px;
}
/*弹窗样式 start*/
.form-group {
    margin-top: 20px;
    height:50px;
}
 .form-group input{
    height:30px;
    border-radius:6px;
    border:1px solid #ccc;
    width:220px;
    margin-left:10px;
 } 
  .form-group select{
    height:30px;
    border-radius:6px;
    border:1px solid #ccc;
    width:212px;
    margin-left:10px;
 }  
.form-group label{
	/* height:30px; */
	    width: 130px;
	text-align:right;
}

.bv-form .help-block{
	margin-left:121px;
}

div.dropdown, div.dropup{
	display:inline-block;
	width: 50px;
	border-radius:6px;
	margin-left:10px;
}
.modal-footer{text-align:center;}
.modal-footer button{
	border-radius: 5px;
    height: auto;
    background-color: #337ab7;
    border-color: #2e6da4;
  /*   background: -moz-linear-gradient( top, #0183e1, #629fe2);
    background: -ms-linear-gradient( top, #0183e1, #629fe2);
    background: -o-linear-gradient( top, #0183e1, #629fe2);
    background: -webkit-linear-gradient( top, #0183e1, #629fe2); */
    color: #fff;
    padding: 5px 24px;
    margin: 0 10px;
    cursor: pointer;
    display: inline-block;
    transition: background 0.5s;
}

.modal-footer button:hover {
    color: #ffffff;
    background: -moz-linear-gradient( top, #055cae, #048cee);
    background: -ms-linear-gradient( top, #055cae, #048cee);
    background: -o-linear-gradient( top, #055cae, #048cee);
    background: -webkit-linear-gradient( top, #055cae, #048cee);
    border: 1px solid #048cee;
}
.form-group textarea{
   vertical-align: middle;
   margin-left:10px;
   min-width:212px;
   max-width:500px;	
}
.modal-400{
	width:400px;
}
/*弹窗样式 end*/

/*查询样式*/
.search_wrap{width:100%; height:auto; padding-top: 10px;}
#searchForm{
	width:98%;    
	border: 1px solid #e6e6e6;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 0px auto;
    border-radius: 6px;
}
#searchForm .form-group input {
    height: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 200px;
    margin-left: 10px;
}
/* #searchForm .form_item input {
    width: 330px;
} */
#searchForm .form-group select {
    width: 200px;
}
#searchForm .dateIcon{
	position: relative;
}
#searchForm .form-group i {
    /* left: -24px; */
    position: absolute;
    top: 8px;
    right: 6px;
}

#searchForm .form-group button{font-size:12px; height:30px; padding: 4px 10px; margin-left:16px;}
.btn-primary:hover {
    color: #fff;
    background: -moz-linear-gradient( top, #055cae, #048cee);
    background: -ms-linear-gradient( top, #055cae, #048cee);
    background: -o-linear-gradient( top, #055cae, #048cee);
    background: -webkit-linear-gradient( top, #055cae, #048cee);
    border: 1px solid #048cee;
}
/* 中间列表内容 */
.form-grou{height:50px; line-height:50px; font-size:12px; display: inline-block; }
.search_wrap .form-grou label{display:inline-block; width:130px; text-align:right;  padding-right: 10px;}
.form-grou input{display:inline-block;font-size:12px; height:30px; width:170px !important;padding:0px;}
.form-grou.rangeBox input{width:268px !important;}
.double input{width:268px !important;  }
.form-group select{display:inline-block;font-size:12px; height:30px; width:200px;padding:0px;}
.form-grou button{font-size:12px; height:30px; padding: 4px 10px; margin-left:16px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0px !important; line-height: 1.7; font-size:12px;}
.ad_section{background:#fff;padding:18px 0px;  border-radius: 5px;}
.breadcrumb{margin-bottom:0px; border-bottom:1px solid #d4ddea;margin-bottom:10px;}
.btn{padding: 4px 6px;} 
/* #operation-password .has-feedback {  height: 40px; }
#operation-password .help-block { margin-left: 20px !important; } */
.has-feedback { height: 40px; }
.help-block { margin-left: 20px !important; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
     padding-right: 0px; 
     padding-left: 0px;
}
.star{font-size: xx-small;color:red; left: -4px;font-weight: normal;}


/*新增页面（子页面）的返回按钮样式*/

h2.modal-title .btn-primary{float:right; margin-right:20px;}

h2.modal-title{
	height: 40px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 700;
}
#errorModal {
    margin: 0;
    padding: 0;
    background: #ffffff;
    position: fixed;
    height: 100%;
    width: 100%;
}

#errorModal .errorConwrap {
    height: 100%;
    width: 100%;
    background: url(/mrp/img/error.png) no-repeat;
    background-size: 100% 100%;
}

#errorModal .error_btn {
    width: 300px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -154px;
    top: 60%;
}
#errorModal .error_btn a {
    display: inline-block;
    color: #000000;
    background: #ffffff;
    text-decoration: none;
    width: 100px;
    height: 36px;
    line-height: 36px;
    border-radius: 15px;
    margin-left: 20px;
    text-align: center;
    padding: 0 10px;
}
/* 显示省略号 */
.ellipsisDiv{
	width: 300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;margin:0 auto; /* cursor:pointer; text-align:left; */font-size:12px; color:#000000;
}
/* .ellipsisDiv a{
	 font-size:12px; color:#000000;
}
.ellipsisDiv a:hover{color:#000000;} */