<!DOCTYPE html>
<html lang="zh-CN">
<head>
	 <meta charset="UTF-8">
     <title>亿美软通</title>
     <script type="text/javascript" src="/mrp/js/loadcss.js"></script>
</head>
<body>
<div class="mrp_wrap">                
      <!-- 左侧 导航 start-->
      <div class="navbar-side">
     	<div id="header">
     		<div id="logo"></div>
     		<div class="header_left">
     			<span>亿美信息管理系统</span><i id="show_hide_btn" class="icon-indent-left" onclick="switchSysBar()"></i>
     		</div>
     	</div>	
	 	<ul id="headPage"></ul>
		 <div id="logoutBox"><a href="javascript:;" id="btn" onclick="logout()" title="退出"><i class="icon-logout"></i></a></div><!-- 退出 -->	
		 <div id="menuSideBar" class="leftNav"></div>
      </div>
      <!-- 左侧 导航 end-->
      <div class="white_bg"></div>
      <!--rightContent start-->
      <div class="bTabs" id="mainFrameTabs" >
         <!-- tabs nav start-->
         <div class="tabsNav" style="padding-right: 250px;">        
             <div class="glyphicon glyphicon-chevron-left" id="leftPage"></div>
			 <div class="glyphicon glyphicon-chevron-right" id="rightPage"></div>
			 <div class="navContent">
		        <ul class="nav nav-tabs ui-sortable">
	              <li class="noclose noSort active"><a href="#bTabs_tab111" data-toggle="tab" aria-expanded="false">首页</a></li>
	            </ul> 		    
             </div>
             <span style="position: absolute;right: 75px;top: 15px;"><strong>欢迎您：</strong><span id="welcome"></span></span>
         </div>
         <!-- tabs nav end -->    
         <!-- tab-content start-->                           
         <div class="tab-content">
             <div class="tab-pane active" id="bTabs_tab111">
                  	 <iframe frameborder="0" scrolling="auto" style="width:100%;height:100%;border:0px;" src="/mrp/homepage"></iframe>
             </div>
         </div>
         <!-- tab-content end-->    
      </div>
 	  <!--rightContent end-->
</div>
<!-- 公用js加载 -->
<script type="text/javascript" src="/mrp/js/loadjs.js"></script>
<script type="text/javascript" src="/mrp/js/common/common.js"></script>  
</body>
</html>          