<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EMRP-登录</title>
    <link type="image/x-icon" rel="shortcut icon" href="/mrp/img/favicon.ico">
    <link type="image/x-icon" rel="bookmark" href="/mrp/img/favicon.ico">
    <link type="image/x-icon" rel="icon" href="/mrp/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/mrp/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/mrp/css/font/css/fontello.css"> 
</head>
<body>
<script type="text/javascript">
	// alert(window.menubar.visible)
</script>
<script type="text/javascript" src="/mrp/js/lib/md5.js"></script>
<div id="login_body">
	<div class="login-main fadeInDown animated">
			<div class="login-logo">
			<!-- 	<img  src="/web/img/login-logo.png" /> -->
				<h3>欢迎使用亿美软通管理平台</h3>
			</div>
			<div class="login-center">
					<div class="divleft">
						<i class="icon-user-male"></i><span>|</span>
						<input type="text" id="username"autocomplete="off" placeholder="请输入用户名"/>
					</div>
					<div class="divleft">
						<i class="icon-lock-1"></i><span>|</span>
						<input type="password" id="password" placeholder="请输入密码"/>
					</div>
					<div class="divleft captchadiv">
						<div class="captchal">
							<i class="icon-key-inv"></i><span>|</span>
							<input type="text" id="captcha" placeholder="请输入验证码"/>
						</div>
						<div class="captchaR">
							<img src="/mrp/captcha?type=login" class="mycaptchaimg captcha_a" />
						</div> 
					</div>
					<div class="divleft errorsdiv">
						<span id="errorspan"></span>
					</div>
					<input type="button" id="submit" class="logbtn" value="登 录" /><br/>
					<div class="divleft aDiv">
						<a href="http://mrp3.emay.cn:8083/" target="_Blank">老MRP入口</a>
						<p>请注意：只有短信业务迁移，其他的产品业务仍在老MRP中进行，短信业务正在流程中的业务继续在老MRP中进行走完，短信新增的客户或订单、开号在新MRP中进行</p>
					</div>
			</div>
			<script type="text/javascript" src="/mrp/js/lib/jquery-1.9.1.js"></script>
			<script type="text/javascript" src="/mrp/js/login.js"></script>
	</div>
</div>
</body>
</html>